body{
    background: linear-gradient(120deg,#ffdde1,#ee9ca7);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
    font-family:Arial;
}

.container{
    background:white;
    width:380px;
    padding:25px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,0.2);
}

h2{
    text-align:center;
    color:#9b034f;
    margin-bottom:15px;
}

label{
    font-size:14px;
    font-weight:600;
    display:block;
    margin:8px 0 5px;
}

input[type="text"],input[type="number"]{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:6px;
    margin-bottom:10px;
}

.radio-row{
    display:flex;
    gap:20px;
    margin-bottom:10px;
}

.cards{
    display:flex;
    gap:10px;
    margin:10px 0;
}

.cards img{
    width:45px;
    height:auto;
}

.card-info{
    display:block;
}

.btn-center{
    display:flex;
    justify-content:center;
    margin-top:15px;
}

#payButton{
    width:200px;
    background:#c60055;
    border:none;
    padding:12px;
    color:white;
    font-size:16px;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
}

#payButton:hover{
    background:#a80047;
}
.small{
    font-size:12px;
    text-align:center;
    margin-top:8px;
    color:#666;
}
.overlay{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
}
.popup{
    background:white;
    width:360px;
    padding:30px;
    border-radius:15px;
    text-align:center;
    margin:15% auto;
    animation:zoomIn 0.4s ease;
}
.popup h1{
    color:#8b1d3d;
}
.popup p{
    color:#555;
    margin:15px 0;
}
.popup button{
    background:#8b1d3d;
    color:white;
    border:none;
    padding:10px 25px;
    border-radius:6px;
    cursor:pointer;
}
@keyframes zoomIn{
    from{transform:scale(0.6);opacity:0;}
    to{transform:scale(1);opacity:1;}
}