 *{ margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background:body {
  background: linear-gradient(to right, #fff5f8, #ffeaea);

}


 header {
  background-color: #ffe6eb; 
   display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
position: fixed;        
  top: 0;    
  height: 70px;             
  left: 0;                 
  width: 100%;             
  z-index: 1000;           
 }
}
body {
  padding-top: 80px;
}


.logo {
  font-size: 24px;
  font-weight: bold;
  color: #e4a89a; 
}


  nav a {
  text-decoration: none;
  }

nav a:hover,
nav a.active {
  color: #ff4d6d;
  transform: scale(1.05);
}

nav .active {
  font-weight: bold;
}


nav a,
nav a:visited,
nav a:active {
  text-decoration: none !important;
  color: black;
  margin: 0 15px;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
}

.hero {
  display: flex;
  align-items: center;
  padding:60px;
  gap:40px;
}

.hero-text h1 {
  font-size: 45px;
  font-weight: bold;
  color: #000;
}

.hero-text p {
  margin-top: 10px;
  font-size: 18px;
  color: #555;
  line-height: 1.5;
}

button {
  margin-top: 20px;
  background: #e48a9a;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.hero-img img {
  width: 350px;
  border-radius: 10px;
}

.popular {
  padding: 50px 60px;
}

.popular h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.cakes {
  display: flex;
  gap: 20px;
}

.cake-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}


  .cake-card img {
  width: 200px;
   height:150px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.cake-card img:hover {
  transform: scale(1.05);
}

.cake-card p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}